<a href="https://colab.research.google.com/github/subinsim/23python3rd/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Python 3.12.0 (tags/v3.12.0:0fb18b0, Oct  2 2023, 13:03:39) [MSC v.1935 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license()" for more information.
print("Hello World")   #"Hello World"라는 문자열을 출력하는 함수입니다. 따라서 이 코드를 실행하면 "Hello World"가 출력됩니다.
Hello World
\
"Hello World"    #큰 따옴표로 묶인 "Hello World"라는 문자열입니다.
'Hello World'    #작은 따옴표로 묶인 "Hello World"라는 문자열입니다.
4+4    #두 개의 정수를 더하는 연산입니다. 따라서 이 코드를 실행하면 8이 출력됩니다.
8
Hello World    #이 줄은 코드가 아니라 그냥 문자열입니다. 따라서 이 코드를 실행하면 에러가 발생합니다.
SyntaxError: incomplete input

In [1]:
"2. 사용자로부터 3개의 변수를 입력받아서 합을 구하고, 평균을 구하는 코드\n",
        " - 변수는 :n1, n2, n3, total, average\n",
        "n1 = int(input(\"n1의 값을 입력하시오.: \"))\n",   # 사용자로부터 n1의 값을 입력받아 정수로 변환하여 변수 n1에 저장합니다.
        "n2 = int(input(\"n2의 값을 입력하시오.: \"))\n",   # 사용자로부터 n2의 값을 입력받아 정수로 변환하여 변수 n2에 저장합니다.
        "n3 = int(input(\"n3의 값을 입력하시오.: \"))\n",   # 사용자로부터 n3의 값을 입력받아 정수로 변환하여 변수 n2에 저장합니다.
        "total = n1 + n2 + n3\n",                      # 변수 n1, n2, n3의 합을 구하여 변수 total에 저장합니다.
        "print('합계는 :',total)\n",                     # 변수 total의 값을 출력합니다.
        "average  = total / 3\n",                      # 변수 total을 3으로 나누어 평균을 구하여 변수 average에 저장합니다.
        "print('평균은 :', average)"                     # 변수 average의 값을 출력합니다.

IndentationError: ignored

In [ ]:
# 다섯 명의 성적을 입력을 받아 평균을 내는 프로그램을 만든다.
# 반복문과 조건문을 사용한다.
# 변수는 total, counter, grade, average
total = 0           # 변수 total은 0으로 선언하였다.
counter = 1             # 변수 counter은 1로 선언하였다.
while counter <= 10:        # 반복문 while을 사용하여 counter가 10보다 작거나 같을 때 다음 내부 문장으로 넘어간다.
    grade = int(input("성적을 입력하시오.: "))    # 변수 grade에 int(정수형 변환)와 사용자로부터 입력을 받는 input을 사용하여 정수를 받는다.
    total = grade + total           # 변수 total은 성적 grade와 변수 total을 합한 값을 선언한다.
    counter = counter + 1           # 변수 counter는 초기 선언한 counter의 값에 실행할 때마다 1씩 추가된다.
average = total//10          # 변수 average에 반복문에서 계산한 total 값을 10으로 나눈다.
print(average)
# write by 심수빈

1. 두 가지 이상의 선택 다방향 선택구조 코딩
배송료 처리 3가지로 코딩
- 변수 : price
- 조건 : 10만원 이상 배송비 0, 2만원 이상은 3천원, 2만원 이하면 5천원

In [2]:
price = int(input("구입금액 입력: "))                     # 변수 price 사용자가 정수형 금액입력
if price >= 100000:                                       # price의 값이 10만원보다 크거나 같으면
  shipping_cost = 0                                       # 선택1. 배송료(shipping_cost)는 0원
else:                                                     # 그게 아니면
  if price >= 20000:                                      # 선택2. price의 값이 2만원보다 크거나 같으면
    shipping_cost = 3000                                  # 배송료(shipping_cost)는 3000원
  else:                                                   # 그것도 아니면
    shipping_cost = 5000                                  # 선택3. 배송료(shiipping_cost)는 5000원
  print(f'배송료는 {shipping_cost}원 입니다.')            # T-stirng문

구입금액 입력: 50000
배송료는 3000원 입니다.

2. 반복구조를 이용한 "환영합니다."를 5번 출력하는 코드작성
- 변수 : Welcome
- 출력내용 : 환영합니다.를 세로로 5번,10번,30번

In [3]:
print("환영합니다.")
print("환영합니다.")
print("환영합니다.")
print("환영합니다.")
print("환영합니다.")

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [5]:
print("환영합니다.\n" * 5)

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

위의 코드는 "환영합니다."를 5번 출력하는 방법을 보여주고 있습니다.

첫 번째 방법은 개별적으로 print문을 사용하여 "환영합니다."를 5번 출력합니다.

두 번째 방법은 문자열 곱셈 연산자(*)를 사용하여 "환영합니다.\n"을 5번 반복한 후 출력합니다. 이때, \n은 줄바꿈을 나타내는 이스케이프 시퀀스입니다.

위의 코드를 실행하면 "환영합니다."가 각각 한 줄씩 5번 출력됩니다

In [6]:
count = 1
while count <= 5:
  print("(", count, ")", "환영합니다.")
  count = count + 1

( 1 ) 환영합니다.
( 2 ) 환영합니다.
( 3 ) 환영합니다.
( 4 ) 환영합니다.
( 5 ) 환영합니다.

위의 코드는 변수 count를 1로 초기화한 후, count가 5보다 작거나 같은 동안 반복문을 실행합니다.

반복문 내부에서는 print문을 사용하여 "(", count, ")", "환영합니다."를 출력합니다. count 변수는 괄호 안에 출력되며, count = count + 1을 통해 count 변수가 1씩 증가합니다.

이를 통해 "(", 1, ")", "환영합니다."부터 "(", 5, ")", "환영합니다."까지 총 5번 출력됩니다.

0부터 9까지 출력하는 코드 작성
- 변수 : x

In [7]:

x = 0
while x < 10:
  #print(x)
  print(x, end=' ')
  x = x + 1

0 1 2 3 4 5 6 7 8 9

위의 코드는 변수 x를 0으로 초기화한 후, x가 10보다 작은 동안 반복문을 실행합니다.

반복문 내부에서는 print문을 사용하여 x 값을 출력합니다. end=' '는 출력 후 줄바꿈 대신에 공백을 사용하여 숫자를 한 줄에 출력하도록 합니다.

그리고 x = x + 1을 통해 x 변수가 1씩 증가합니다.

이를 통해 0부터 9까지의 숫자가 공백으로 구분되어 출력됩니다.

출력 결과는 다음과 같습니다:

0 1 2 3 4 5 6 7 8 9
위의 코드를 참고하여 원하는 출력 결과를 얻을 수 있습니다. 추가적인 도움이 필요하시면 언제든지 말씀해주세요!

In [8]:

x = 0
while x < 10:
  #print(x)
  print(x, end=' ')
  x += 1

0 1 2 3 4 5 6 7 8 9

위의 코드에서는 변수 x를 0으로 초기화한 후, x가 10보다 작은 동안 반복문을 실행합니다.

반복문 내부에서는 print문을 사용하여 x 값을 출력합니다. end=' '는 출력 후 줄바꿈 대신에 공백을 사용하여 숫자를 한 줄에 출력하도록 합니다.

그리고 x += 1을 통해 x 변수를 1씩 증가시킵니다.

이를 통해 0부터 9까지의 숫자가 공백으로 구분되어 출력됩니다.

4. 1부터 10까지 합산하는 코드 작성

In [ ]:
1부터 10까지 합산하는 코드 작성

x = 1
total = 0
while x <= 10:
  total += x
  #total = total + 1
  #x += 1
  x += 1
print(total)

위의 코드에서는 변수 x를 1로 초기화하고, 변수 total을 0으로 초기화합니다.

반복문 내부에서는 total에 x 값을 더하여 누적합니다. total += x는 total = total + x와 동일한 역할을 합니다.

그리고 x를 1씩 증가시킵니다. x += 1은 x = x + 1과 동일한 역할을 합니다.

반복문은 x가 10보다 작거나 같을 때까지 실행됩니다.

반복문이 종료된 후에는 total 변수에 저장된 합계를 출력합니다

5. 3-6-9 게임(3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로(i mod 3)의 값이 1이면 박수를 출력, 아니면 숫자 출력하는 코드

In [9]:
for num in range(1, 20):
  if num % 3 == 0:
    print("박수", end=' ')
  else:
    print(num, end=' ')

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19

위의 코드에서는 for 반복문을 사용하여 num 변수를 1부터 19까지 반복합니다. (range(1, 20)은 1부터 19까지의 숫자를 포함합니다.)

반복문 내부에서는 if 조건문을 사용하여 num이 3의 배수인지를 판단합니다. num % 3 == 0은 num을 3으로 나누었을 때 나머지가 0인지를 확인하는 조건입니다.

만약 num이 3의 배수라면, "박수"를 출력합니다. 여기서 end=' '는 출력 후 줄바꿈 대신에 공백을 사용하여 숫자와 "박수"를 한 줄에 출력하도록 합니다.

반대로 num이 3의 배수가 아니라면, num을 출력합니다

In [10]:

num = 1
while num <= 20:
  if num % 3 == 0:
    print("박수", end=' ')
  else:
   print(num, end=' ')
  num += 1

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20

위의 코드에서는 변수 num을 1로 초기화한 후, num이 20보다 작거나 같은 동안 반복문을 실행합니다.

반복문 내부에서는 if 조건문을 사용하여 num이 3의 배수인지를 판단합니다. num % 3 == 0은 num을 3으로 나누었을 때 나머지가 0인지를 확인하는 조건입니다.

만약 num이 3의 배수라면, "박수"를 출력합니다. 여기서 end=' '는 출력 후 줄바꿈 대신에 공백을 사용하여 숫자와 "박수"를 한 줄에 출력하도록 합니다.

반대로 num이 3의 배수가 아니라면, num을 출력합니다.

마지막으로 num을 1씩 증가시킵니다. num += 1은 num = num + 1과 동일한 역할을 합니다.

In [13]:

1! = 1, 2!=2(1)=2, 3!=3(2)(1)=6

i = 5
factorial = 1
while i >= 1:
  factorial *= i
  i -=1
print(factorial)

SyntaxError: ignored

위의 코드에서는 변수 i를 5로 초기화하고, 변수 factorial을 1로 초기화합니다.

반복문 내부에서는 factorial에 i 값을 곱하여 팩토리얼을 계산합니다. factorial *= i는 factorial = factorial * i와 동일한 역할을 합니다.

그리고 i를 1씩 감소시킵니다. i -= 1은 i = i - 1과 동일한 역할을 합니다.

반복문은 i가 1 이상일 때까지 실행됩니다.

반복문이 종료된 후에는 factorial 변수에 저장된 값을 출력합니다.

In [ ]:
# 계산할 숫자를 입력받습니다.
num = int(input("팩토리얼을 계산할 숫자를 입력하시오.: "))

# 초기값으로 1을 설정합니다.
factorial = 1

# 팩토리얼 계산을 위한 반복문인 while 입니다.
while num >= 1:                     # num값이 1보다 크거나 같을 때 하위 문장(코드)를 진행
  factorial = factorial * num       # 현재 num값을 factorial값에 곱해줍니다.
  num -= 1                          # num값을 1씩 감소시킵니다.

  print(f'계된 팩토리얼 값은 {factorial} 입니다.')

팩토리얼을 계산할 숫자를 입력하시오.: 5
계된 팩토리얼 값은 5 입니다.
계된 팩토리얼 값은 20 입니다.
계된 팩토리얼 값은 60 입니다.
계된 팩토리얼 값은 120 입니다.
계된 팩토리얼 값은 120 입니다.
구구단 출력해주는 코드 작성
변수:dan
반복문(1):for문 사용
반복문(2):while문 사용

# for문 사용
dan = int(input("구구단에서 몇단을 출력할까요: "))
for i in range(1,10):
  print(dan, "x", i, "=", dan * i)

구구단에서 몇단을 출력할까요: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
 #while문 사용
dan = int(input("구구단에서 몇 단을 출력할래?: "))
i = 1
while i <= 9:
  print(dan, "x", i, "=", dan * i)
  i += 1

구구단에서 몇 단을 출력할래?: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

1. 사용자로부터 2개의 정수를 받아서 합계를 출력

In [ ]:
print("정수 2개를 입력하시오.")
x = int(input("x의 값을 입력하시오. :"))
y = int(input("y의 값을 입력하시오. :"))        #input() 함수를 사용하여 사용자로부터 x와 y의 값을 입력받습니다. int(input("x의 값을 입력하시오. :"))는 사용자로부터 입력받은 값을 정수로 변환하는 역할을 합니다.
sum = x + y
print("x + y의 합계는" , sum)         # sum = x + y는 x와 y의 합을 sum 변수에 할당하는 역할을 합니다.

정수 2개를 입력하시오.
x의 값을 입력하시오. :183
y의 값을 입력하시오. :69
x + y의 합계는 252

2. 부가세 계산

In [ ]:
print("상품의 가격을 입력하시오.")
price = int(input("가격을 입력하시오. :"))    #함수를 사용하여 사용자로부터 가격을 입력받습니다. int(input("가격을 입력하시오. :"))는 사용자로부터 입력받은 값을 정수로 변환하는 역할을 합니다.

price 변수에 입력받은 가격을 저장합니다.
vat = price * 0.1
print("상품의 가격은" , vat)

In [ ]:
가치세(VAT)는 가격의 10%로 계산되므로, price에 0.1을 곱하여 vat 변수에 할당합니다.

마지막으로 print() 함수를 사용하여 "상품의 가격은"과 vat 변수의 값을 출력합니다. print("상품의 가격은", vat)에서 ,는 문자열과 변수를 함께 출력할 때 사용되며, 공백이 추가되어 출력됩니다.

출력 결과는 다음과 같습니다:

일한 시간과 시급을 계산하여 출력하는 코드
 - 일한 시간(hours_worked)
 - 일한 날짜(day_worked)
 - 시급(pay_rate)
 - 월급(monthly_pay)

In [14]:
9hours_worked = int(input("일한 시간을 입력하시오.: "))     # 함수를 사용하여 사용자로부터 일한 시간, 일한 날짜, 시급을 입력받습니다. 각각 hours_worked, day_worked, pay_rate 변수에 저장됩니다. int(input(...))는 사용자로부터 입력받은 값을 정수로 변환하는 역할을 합니다.
day_worked = int(input("일한 날짜를 입력하시오. :"))        # 하루의 일한 시간(hours_worked)과 일한 날짜(day_worked)를 곱하여 하루의 총 시간을 저장합니다.
pay_rate = int(input("시급을 입력하시오.(23년 시급 9620): ")) # 일한 시간(hours_worked)과 시급(pay_rate)을 곱하고 일한 날짜(day_worked)를 곱하여 월급여를 계산합니다.
day_month = hours_worked * day_worked                   # 수를 사용하여 일한 시간, 시급, 월급여를 출력합니다. f-string을 사용하여 변수의 값을 문자열에 포맷팅하여 출력합니다. 예시로 주어진 f-string은 "일한시간은 {hours_worked}시간 이며, 시급은 {pay_rate}원 이고, 월급여는 {monthly_pay}원 입니다."입니다. 중괄호 안에 변수 이름을 넣으면 해당 변수의 값이 문자열에 삽입됩니다.
monthly_pay = hours_worked * pay_rate * day_worked
print(f'일한시간은 {hours_worked}시간 이며, 시급은{pay_rate}원 이고, 월급여는 {monthly_pay}원 입니다. ')

일한 시간을 입력하시오.: 10
일한 날짜를 입력하시오. :25
시급을 입력하시오.(23년 시급 9620): 9620
일한시간은 10시간 이며, 시급은9620원 이고, 월급여는 2405000원 입니다.

환전하는 코드를 작성
 - 변수 won, usd, exchange
 - 계산 won * usd

In [15]:
usd = int(input("환전한 달러를 입력: "))
won = int(input("달러의 환율금액 입력(20231031: 1372원)"))
exchange = won * usd
print(exchange)
print(f'환전하고 싶은  {usd}달러는 환율 {won}으로 계산하면, {exchange}원입니다.'

SyntaxError: ignored

input() 함수를 사용하여 사용자로부터 환전한 달러와 환율을 입력받습니다. 각각 usd, won 변수에 저장됩니다. int(input(...))는 사용자로부터 입력받은 값을 정수로 변환하는 역할을 합니다.

exchange 변수에는 환율(won)과 환전한 달러(usd)를 곱하여 원화로 환전한 금액을 계산합니다.

마지막으로 print() 함수를 사용하여 원화로 환전한 금액(exchange)을 출력합니다. 또한, f-string을 사용하여 변수의 값을 문자열에 포맷팅하여 출력합니다. 예시로 주어진 f-string은 "환전하고 싶은 {usd}달러는 환율 {won}으로 계산하면, {exchange}원입니다."입니다. 중괄호 안에 변수 이름을 넣으면 해당 변수의 값이 문자열에 삽입됩니다.

출력 결과는 다음과 같습니다:

In [16]:
화씨를 섭씨로 섭씨를 화씨로 변경하는 코드
화씨를 섭씨로 ℉ = ℃* 1.8 + 32
섭씨를 화씨로 ℃ = (℉ - 32)/1.8
변수 : 화씨 fahrenheit, 섭씨 celsius

SyntaxError: ignored

In [ ]:
위의 코드에서는 input() 함수를 사용하여 사용자로부터 화씨 온도를 입력받습니다. 입력받은 값은 fahrenheit 변수에 저장됩니다. int(input(...))는 사용자로부터 입력받은 값을 정수로 변환하는 역할을 합니다.

celsius 변수에는 화씨 온도(fahrenheit)에서 32를 뺀 후, 1.8로 나누어 섭씨 온도로 변환한 값을 저장합니다. 화씨에서 섭씨로 변환하는 공식은 (화씨 - 32) / 1.8입니다.

마지막으로 print() 함수를 사용하여 섭씨 온도(celsius)를 출력합니다

In [17]:

celsius = float(input("섭씨를 입력하시오.: "))
fahrenheit = celsius * 1.8 + 32
print(fahrenheit)

섭씨를 입력하시오.: 37.77777777777778
100.0

위의 코드에서는 input() 함수를 사용하여 사용자로부터 섭씨 온도를 입력받습니다. 입력받은 값은 celsius 변수에 저장됩니다. float(input(...))는 사용자로부터 입력받은 값을 실수로 변환하는 역할을 합니다.

fahrenheit 변수에는 섭씨 온도(celsius)에 1.8을 곱하고 32를 더하여 화씨 온도로 변환한 값을 저장합니다. 섭씨에서 화씨로 변환하는 공식은 섭씨 * 1.8 + 32입니다.

마지막으로 print() 함수를 사용하여 화씨 온도(fahrenheit)를 출력합니다.

In [ ]:
쇼핑몰의 배송비를 계산하는 코드 작성

사용하는 변수 : price, shipping_cost

In [18]:
print("상품의 가격을 입력하시오. ");
price = int(input("구입금액 입력"));
if price > 20000:
  shipping_cost = 0
  print(f'구입금액이 2만원 이상입낟.')
else:
  shipping_cost = 3000
  print(f'구입금액이 2만원 이하입니다.')
print(f'회원님의 배송비는 {shipping_cost}원 입니다.')

상품의 가격을 입력하시오.
구입금액 입력20000
구입금액이 2만원 이하입니다.
회원님의 배송비는 3000원 입니다.

위의 코드에서는 먼저 "상품의 가격을 입력하시오."라는 메시지를 출력합니다.

다음으로 input() 함수를 사용하여 사용자로부터 구입금액을 입력받습니다. int(input("구입금액 입력"))는 사용자로부터 입력받은 값을 정수로 변환하는 역할을 합니다.

if 문을 사용하여 구입금액이 2만원 이상인지 확인합니다. 만약 구입금액이 2만원 이상이라면 shipping_cost 변수에 0을 할당하고 "구입금액이 2만원 이상입니다."라는 메시지를 출력합니다.

구입금액이 2만원 이하인 경우에는 shipping_cost 변수에 3000을 할당하고 "구입금액이 2만원 이하입니다."라는 메시지를 출력합니다.

마지막으로 print() 함수를 사용하여 배송비를 출력합니다. f-string을 사용하여 변수의 값을 문자열에 포맷팅하여 출력합니다. 예시로 주어진 f-string은 "회원님의 배송비는 {shipping_cost}원 입니다."입니다. 중괄호 안에 변수 이름을 넣으면 해당 변수의 값이 문자열에 삽입됩니다.

학생으로부터 성적을 입력받아 합격유무를 출력하는 코드
사용하는 변수 : grade

In [19]:

print("성적을 입력하시오.")
grade = int(input("성적 입력:"))
if grade >= 70:
  print(f'70점 이상이므로 합격입니다.')
  print(f'축하합니다. 합격입니다.')
else:
  print(f'70점 이하이므로 불합격입니다.')
  print("아쉽군요. 다시 한 번 도전하세요.")

성적을 입력하시오.
성적 입력:71
70점 이상이므로 합격입니다.
축하합니다. 합격입니다.

코드에서는 먼저 "성적을 입력하시오."라는 메시지를 출력합니다.

다음으로 input() 함수를 사용하여 사용자로부터 성적을 입력받습니다. int(input("성적 입력:"))는 사용자로부터 입력받은 값을 정수로 변환하는 역할을 합니다.

if 문을 사용하여 성적이 70점 이상인지 확인합니다. 만약 성적이 70점 이상이라면 "70점 이상이므로 합격입니다."라는 메시지와 "축하합니다. 합격입니다."라는 메시지를 출력합니다.

성적이 70점 이하인 경우에는 "70점 이하이므로 불합격입니다."라는 메시지와 "아쉽군요. 다시 한 번 도전하세요."라는 메시지를 출력합니다.

근무시간에 따라 초과근무
 - 사용하는 변수 : work_hour
 - 연산코드 : work_hour > 72

In [20]:
print("근무시간을 입력하시오. ")
work_hour = int(input("근무시간 입력: "))
if work_hour > 72:
  print("#"*20 )
  print('# 초과근무 입니다. #')
  print("#"*20 )
else:
  print("#"*20 )
  print('# 정상근무 입니다. #')
  print("#"*20

SyntaxError: ignored

위의 코드에서는 먼저 "근무시간을 입력하시오."라는 메시지를 출력합니다.

다음으로 input() 함수를 사용하여 사용자로부터 근무시간을 입력받습니다. int(input("근무시간 입력: "))는 사용자로부터 입력받은 값을 정수로 변환하는 역할을 합니다.

if 문을 사용하여 근무시간이 72시간을 초과하는지 확인합니다. 만약 근무시간이 72시간을 초과한다면 "#" 문자를 20번 반복하여 출력하는 부분과 "초과근무 입니다."라는 메시지를 출력합니다.

근무시간이 72시간 이하인 경우에는 "#" 문자를 20번 반복하여 출력하는 부분과 "정상근무 입니다."라는 메시지를 출력합니다.

짝수와 홀수를 판별하는 코드
 - 사용하는 변수 : num
 - 수식 : (x % 2)!=0:

In [21]:
print("점수를 입력하시오.")
_num_ = int(input("정수 입력: "))
if (_num_ % 2) != 0:
  print(f'입려하신 {_num_}은 홀수입니다.')
else:
  print(f'입력하신 {_num_}은 짝수입니다.')

점수를 입력하시오.
정수 입력: 2
입력하신 2은 짝수입니다.

위의 코드에서는 먼저 "점수를 입력하시오."라는 메시지를 출력합니다.

다음으로 input() 함수를 사용하여 사용자로부터 정수를 입력받습니다. int(input("정수 입력: "))는 사용자로부터 입력받은 값을 정수로 변환하는 역할을 합니다.

if 문을 사용하여 입력한 수가 홀수인지 짝수인지 판단합니다. 입력한 수를 2로 나눈 나머지가 0이 아니라면 홀수이므로 "입력하신 {num}은 홀수입니다."라는 메시지를 출력합니다.

입력한 수를 2로 나눈 나머지가 0이라면 짝수이므로 "입력하신 {num}은 짝수입니다."라는 메시지를 출력합니다.

사용자의 이름과 나이를 물어보고 답변하는 코드
 - 사용하는 변수 : name,age
 - 출력할 내용 :
 - 성명
 - 나이:20
 - (1) 20이하:프로그래밍을 배우는 최적의 나이입니다.
 - (2) 20이상:아직도 늦지 않았습니다.

In [22]:
print("나이를 입력하시오.")
name = input("이름 입력: ")
age = int(input("나이 입력: "))
if age < 20:
  print(f'프로그래밍을 배우는 최적의 나이입니다.')
else:
  print(f'아직도 늦지 않았습니다.')

나이를 입력하시오.
이름 입력: 심수빈
나이 입력: 20
아직도 늦지 않았습니다.

위의 코드에서는 먼저 "나이를 입력하시오."라는 메시지를 출력합니다.

다음으로 input() 함수를 사용하여 사용자로부터 이름을 입력받습니다. 입력한 값을 name 변수에 저장합니다.

다음으로 input() 함수를 사용하여 사용자로부터 나이를 입력받습니다. 입력한 값을 정수로 변환하여 age 변수에 저장합니다.

if 문을 사용하여 나이가 20보다 작은지 확인합니다. 만약 나이가 20보다 작다면 "프로그래밍을 배우는 최적의 나이입니다."라는 메시지를 출력합니다.

나이가 20보다 크거나 같다면 "아직도 늦지 않았습니다."라는 메시지를 출력합니다.